.allLogoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
}

.first2LogoContainer{
    display: flex;
    flex-direction: column;
    row-gap: 2.6rem;
}

.second2LogoContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
    align-items: center;
}

.last2LogoContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
}

/* .teslaContainer{
    width: 100px;
    height: 30px;
}

.teslaLogoImg{
    width: 100%;
    height: 100%;
}

.oracleContainer{
    width: 100px;
    height: 20px;
}

.oracleLogoImg{
    width: 100%;
    height: 100%;

} */