.logoNavScheduleContainer{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 4rem;
    /* background-color: red; */
}

.logoNavContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    column-gap: 3rem;
    align-items: center;
}


.logoContainer{
    width: 138px;
    height: 38px;
}

.logoImage{
    width: 100%;
    height: 100%;
}

.navContainer{
    width: fit-content;
    height: auto;
    /* display: flex;
    flex-direction: row; */

}

.listContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 2rem;
    
}

.page{
    color: var(--blue-normal-secondary-color);
}

.schduleContainer{
    width: fit-content;
    height: auto;
}

.button{
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    border: none;
    outline: none;
    color: var(--white-primary-color);
}

.barMenu{
  display: none;
}

.closeBar{
    cursor: pointer;
}

.moblieMenuContainer{
    width: 30%;
    background-color: blue;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 100;
    padding: 0rem;
    display: none;
    flex-direction: column;
    align-items: center;
}

.moblieListContainer{
    list-style: none;
}

@media screen and (max-width : 480px) {
    .barMenu{
        display: flex;
      }

      .page{
        display: none;
      }

      .button{
        display: none;
      }


    
}