.contentContainer{
    
        display: flex;
        flex-direction: column;
        /* background-color: aquamarine; */
        justify-content: start;
        row-gap:2.6rem ;
        position: relative;
        width: 100%;
        height: auto;
        padding: 10rem 10rem 4rem 13rem;
        background-color: #f2f2f2;
        background-image: url("./src/assets/shared/desktop/bg-pattern-circle.svg");
        background-size: 50%;
        background-position: 140% 190%;
        background-repeat: no-repeat;
    
}

.headingOneContainer{
    width: 45%;
    height: auto;
    color: var(--blue-normal-secondary-color);
    font-size: 1.4rem;
}

.headingAndParagraphContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    column-gap: 6.3rem;

}

.headingContainer{
    width: fit-content;
    height: auto;
    color: var(--blue-normal-secondary-color);
    font-size: 0.8rem;
}

.paragraphContainer{
    width: 48%;
    height: auto;
    color: var(--blue-light-color);
    line-height: 1.3rem;

}

@media screen  and (max-width : 1120px){
    .contentContainer{
    
        display: flex;
        flex-direction: column;
        /* background-color: aquamarine; */
        justify-content: none;
        align-items: center;
        row-gap:2.6rem ;
        position: relative;
        width: 100%;
        height: auto;
        padding: 10rem 4rem 4rem 4rem;
        background-color: #f2f2f2;
        background-image: url("./src/assets/shared/desktop/bg-pattern-circle.svg");
        background-size: 50%;
        background-position: 147% -300%;
        background-repeat: no-repeat;
    
    }

    .headingOneContainer{
        width: 80%;
        height: auto;
        text-align: center;
        color: var(--blue-normal-secondary-color);
        font-size: 2rem;
    }

    .headingAndParagraphContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        column-gap: 6.3rem;
    
    }
    .headingContainer{
        width: fit-content;
        height: auto;
        color: var(--blue-normal-secondary-color);
        font-size: 1.2rem;
    }
    
    .paragraphContainer{
        width: 57%;
        height: auto;
        color: var(--blue-light-color);
        line-height: 1.7rem;
        font-size: 1.2rem;
    
    }
}

@media screen  and (max-width : 480px){
    .contentContainer{
    
        display: flex;
        flex-direction: column;
        /* background-color: aquamarine; */
        justify-content: none;
        align-items: center;
        row-gap:2.6rem ;
        position: relative;
        width: 100%;
        height: auto;
        padding: 10rem 0rem 4rem 0rem;
        background-color: #f2f2f2;
        background-image: url("./src/assets/shared/desktop/bg-pattern-circle.svg");
        background-size: 80%;
        background-position: 270% -50%;
        background-repeat: no-repeat;
    
    }

    .headingOneContainer{
        width: 90%;
        height: auto;
        text-align: center;
        color: var(--blue-normal-secondary-color);
        font-size: 1.2rem;
    }

    .headingAndParagraphContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
    
    }
    .headingContainer{
        width: fit-content;
        height: auto;
        color: var(--blue-normal-secondary-color);
        font-size: 1rem;
    }
    
    .paragraphContainer{
        width: 85%;
        height: auto;
        text-align: center;
        color: var(--blue-light-color);
        line-height: 1.7rem;
        font-size: 1.2rem;
    
    }
}