.allContentContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0rem 0rem 0rem 0rem;
    background-color: #f2f2f2;
    background-image: url("./src/assets/shared/desktop/bg-pattern-circle.svg");
    background-size: 50%;
    background-position: -73% 48%;
    background-repeat: no-repeat;
}


.headingAndParagraphContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    margin-left: 13rem;
    margin-bottom: 5rem;
    
}

.headingContainer{
    width: fit-content;
    height: auto;
    color: var(--blue-normal-secondary-color);
    font-size: 0.8rem;

}

.paragraphContainer{
    width: 39%;
    height: auto;
    color: var(--blue-light-color);
    line-height: 1.3rem;
}

.imageContainer{
    width: 100%;
    height: auto;
}

.picImage{
    width: 100%;
    height: auto;
}

.theThreeContentContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 2.8rem;
}

.firstTextAndNumberContainer{
    width: 20%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #979797;
    border-top: 2px solid #979797;
    padding: 0.7rem 0rem;
}

.textContainer{
    width: fit-content;
    height: auto;
    color: var(--blue-normal-secondary-color);
}

.numberAndIconContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.numberContainer{
    width: fit-content;
    height: auto;
    color: var(--primary-color);
    font-size: 1.6rem;
}

.iconContainer{
    height: auto;
    width: fit-content;
    color: var(--primary-color);
    font-size: 2rem;
}


.secondTextAndNumberContainer{
    width: 20%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #979797;
    border-top: 2px solid #979797;
    padding: 0.7rem 0rem;
}

.thirdTextAndNumberContainer{
    width: 20%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #979797;
    border-top: 2px solid #979797;
    padding: 0.7rem 0rem;
}