.allContentContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
   /* align-items: center;
   justify-content: center; */
   padding-left:23rem ;
   padding-top: 3.5rem;
   padding-bottom: 5rem;
   
    row-gap: 3.5rem;
    background-color: var(--all-background-color);
}

.firstTitleAndTextContainer{
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4.5rem;
  /* background-color: bisque; */
  
  
}

.secondTitleAndTextContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 4.5rem;
}

.titleOneContainer{
    width: fit-content;
    height: auto;
    color: var(--blue-normal-secondary-color);

}

.textOneContainer{
    width: 48.9%;
    height: auto;
    font-size: 0.9.5rem;
    line-height: 1.4rem;
   
    /* background-color: blue; */
    color: var(--blue-light-color);
}

.titleTwoContainer{
    width: fit-content;
    height: auto;
    color: var(--blue-normal-secondary-color);

}

.textTwoContainer{
    width: 55%;
    height: auto;
    font-size: 0.98rem;
    line-height: 1.4rem;
    color: var(--blue-light-color);
}


@media screen and (max-width : 1120px) {
    
    .allContentContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
       /* align-items: center;
       justify-content: center; */
       padding-left:4rem ;
       padding-top: 3.5rem;
       padding-bottom: 5rem;
       margin-top: 2rem;
       
        row-gap: 3.5rem;
        background-color: var(--all-background-color);
    }

    .firstTitleAndTextContainer{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: none;
        align-items: start;
        column-gap: 4.5rem;
        /* background-color: bisque; */
        
        
      }
      
      .secondTitleAndTextContainer{
          width: fit-content;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: none;
        align-items: start;
          column-gap: 4.5rem;
      }

      .titleOneContainer{
        width: fit-content;
        height: auto;
        color: var(--blue-normal-secondary-color);
    
    }
    
    .textOneContainer{
        width: 50%;
        height: auto;
        font-size: 1.25rem;
        line-height: 1.8rem;
       
        /* background-color: blue; */
        color: var(--blue-light-color);
    }
    
    .titleTwoContainer{
        width: fit-content;
        height: auto;
        color: var(--blue-normal-secondary-color);
    
    }
    
    .textTwoContainer{
        width: 58%;
        height: auto;
        font-size: 1.19rem;
        line-height: 1.8rem;
        color: var(--blue-light-color);
    }
    
}

@media screen and (max-width : 480px) {
    
    .allContentContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
       /* align-items: center;
       justify-content: center; */
       padding-left:0rem ;
       padding-top: 3.5rem;
       padding-bottom: 0rem;
       margin-top: 2rem;
       
        row-gap: 3.5rem;
        background-color: var(--all-background-color);
    }

    .firstTitleAndTextContainer{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: none;
        align-items: center;
        row-gap: 2rem;
        /* background-color: bisque; */
        
        
      }
      
      .secondTitleAndTextContainer{
          width: fit-content;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: none;
        align-items: center;
          row-gap: 2rem;
      }

      .titleOneContainer{
        width: fit-content;
        height: auto;
        color: var(--blue-normal-secondary-color);
    
    }
    
    .textOneContainer{
        width: 90%;
        height: auto;
        font-size: 1.25rem;
        line-height: 1.8rem;
        text-align: center;
       
        /* background-color: blue; */
        color: var(--blue-light-color);
    }
    
    .titleTwoContainer{
        width: fit-content;
        height: auto;
        color: var(--blue-normal-secondary-color);
    
    }
    
    .textTwoContainer{
        width: 89%;
        height: auto;
        font-size: 1.1rem;
        line-height: 1.8rem;
        text-align: center;
        color: var(--blue-light-color);
    }
    
}