.allContentContainer{
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
    justify-content: center;
    align-items: center;


    position: relative;
    width: 100%;
    height: auto;
    /* padding: 20rem; */
    background-color: #f2f2f2;
    background-image: url("./desktopshared/bg-pattern-circle.svg");
    background-size: 50%;
    background-position: 115% 250%;
    background-repeat: no-repeat;
    overflow-y: hidden;
    
   

}

.headingEmailContactContainer{
    width: 50%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    row-gap: 2.7rem;
}

.headingContainer{
    width: 65%;
    font-size: 2rem;
    color: #36536B;
    /* background-color: antiquewhite; */
}

.emailContactContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.questionAndContact{
    padding-left: 1rem;
    color: rgba(108, 130, 148, 0.6);
}

.contact{
  
    color: rgb(108, 130, 148);
}

.phoneDeviceContainer{
    width: 27%;
    height: auto;
    overflow: hidden;
}

.phoneImage{
    width: 100%;
    height: auto;
    display: block;
}


@media screen and (max-width : 1120px) {
    .allContentContainer{
        display: flex;
        flex-direction: column-reverse;
        /* background-color: aquamarine; */
        justify-content: center;
        align-items: center;
    
    
        position: relative;
        width: 100%;
        height: auto;
        /* padding: 20rem; */
        padding-top: 5rem;
        background-color: #f2f2f2;
        background-image: url("./desktopshared/bg-pattern-circle.svg");
        background-size: 140%;
        background-position: center 195%;
        background-repeat: no-repeat;
       
    
    }

    .phoneDeviceContainer{
        width: 27%;
        height: auto;
        overflow: hidden;
    }
    
    .phoneImage{
        width: 100%;
        height: auto;
        display: block;
    }

    .headingEmailContactContainer{
        width: 100%;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.7rem;
    }


    .headingContainer{
        width: 65%;
        font-size: 1.5rem;
        color: #36536B;
        text-align: center;
        /* background-color: antiquewhite; */
    }

    .questionAndContact{
        width: 70%;
        text-align: center;
        padding-left: 1rem;
        font-size: 1.6rem;
        color: rgba(108, 130, 148, 0.6);
    }

    .emailContactContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.85rem;
    }
}

@media  screen and (max-width : 480px) {
    .allContentContainer{
        display: flex;
        flex-direction: column-reverse;
        /* background-color: aquamarine; */
        justify-content: none;
        align-items: none;
    
    
        position: relative;
        width: 100%;
        height: auto;
        /* padding: 20rem; */
        padding-top: 6rem;
        background-color: #f2f2f2;
        background-image: url("./desktopshared/bg-pattern-circle.svg");
        background-size: 130%;
        background-position: center -265%;
        background-repeat: no-repeat;
       
    
    }

    .phoneDeviceContainer{
        width: 38%;
        height: auto;
        overflow: hidden;
    }
    
    .phoneImage{
        width: 100%;
        height: auto;
        display: block;
    }

    .headingEmailContactContainer{
        width: 100%;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        align-items: none;
        row-gap: 2rem;
    }

    .emailContactContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: none;
        row-gap: 0.85rem;
    }

    .headingContainer{
        width: 95%;
        font-size: 1.25rem;
        color: #36536B;
        text-align: center;
        /* background-color: antiquewhite; */
    }

    .questionAndContact{
        padding-left: 0rem;
        padding-top: 0.8rem;
        color: rgba(108, 130, 148, 0.7);
        font-size: 1.2rem;
    }
    
    .contact{
      
        color: rgb(108, 130, 148);
    }

}