.allContentContainer{
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
    justify-content: center;
    align-items: center;


    position: relative;
    width: 100%;
    height: auto;
    /* padding: 20rem; */
    background-color: #f2f2f2;
    background-image: url("./src/assets/shared/desktop/bg-pattern-circle.svg");
    background-size: 50%;
    background-position: 120% 200%;
    background-repeat: no-repeat;
   

}

.headingEmailContactContainer{
    width: 50%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    row-gap: 2.7rem;
}

.headingContainer{
    width: 65%;
    font-size: 2rem;
    color: #36536B;
    /* background-color: antiquewhite; */
}

.emailContactContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.questionAndContact{
    padding-left: 1rem;
    color: rgba(108, 130, 148, 0.6);
}

.contact{
  
    color: rgb(108, 130, 148);
}

.phoneDeviceContainer{
    width: 27%;
    height: auto;
    overflow: hidden;
}

.phoneImage{
    width: 100%;
    height: auto;
    display: block;
}