.contentContainer{
    
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    justify-content: start;
    row-gap:2.6rem ;
    position: relative;
    width: 100%;
    height: auto;
    padding: 5rem 0rem 2rem 5rem;
    background-color: #f2f2f2;
    background-image: url("./src/assets/shared/desktop/bg-pattern-circle.svg");
    background-size: 50%;
    background-position: 135% 110%;
    background-repeat: no-repeat;

}

.headingContainer{
width: 38%;
height: auto;
color: var(--blue-normal-secondary-color);
font-size: 1.4rem;
}

@media screen and (max-width : 1120px) {
    .contentContainer{
    
        display: flex;
        flex-direction: column;
        /* background-color: aquamarine; */
        justify-content: start;
        align-items: center;
        row-gap:2.6rem ;
        position: relative;
        width: 100%;
        height: auto;
        padding: 7rem 0rem 2rem 5rem;
        background-color: #f2f2f2;
        background-image: url("./src/assets/shared/desktop/bg-pattern-circle.svg");
        background-size: 50%;
        background-position: 145% 220%;
        background-repeat: no-repeat;
    
    }
    
    .headingContainer{
    width: 70%;
    height: auto;
    color: var(--blue-normal-secondary-color);
    font-size: 2rem;
    text-align: center;
    }
    
}

@media screen and (max-width : 480px) {
    .contentContainer{
    
        display: flex;
        flex-direction: column;
        /* background-color: aquamarine; */
        justify-content: start;
        align-items: center;
        row-gap:2.6rem ;
        position: relative;
        width: 100%;
        height: auto;
        padding: 5rem 0rem 2rem 1rem;
        background-color: #f2f2f2;
        background-image: url("./src/assets/shared/desktop/bg-pattern-circle.svg");
        background-size: 50%;
        background-position: 130% -550%;
        background-repeat: no-repeat;
    
    }
    
    .headingContainer{
    width: 100%;
    height: auto;
    color: var(--blue-normal-secondary-color);
    font-size: 1.2rem;
    text-align: center;
    }
    
}