.logoNavScheduleContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 4rem;
    /* background-color: red; */
}

.desktopLogoNavScheduleContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 4rem;
}

.logoNavContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    column-gap: 3rem;
    align-items: center;
}


.logoContainer{
    width: 138px;
    height: 38px;
}

.logoImage{
    width: 100%;
    height: 100%;
}

.navContainer{
    width: fit-content;
    height: auto;
    /* display: flex;
    flex-direction: row; */

}

.listContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 2rem;
    
}

.page{
    color: var(--blue-normal-secondary-color);
}

.schduleContainer{
    width: fit-content;
    height: auto;
}

.button{
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    border: none;
    outline: none;
    color: var(--white-primary-color);
}

.barMenu{
  display: none;
}

.closeBar{
    cursor: pointer;
}

.mobileMenuContainer{
    width: 80.5%;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    z-index: 100;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    transition: right 0.3s ease-in-out; /* Smooth animation */
    padding: 0rem 1rem;
    background-color: #1B262F;
    background-image: url("/desktopshared/bg-pattern-circle.svg");
    background-size: 190%;
    background-position: 69% -455%;
    background-repeat: no-repeat;

}

.mSchduleContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 2rem;
    background-color:var(--primary-color) ;


}

.mButton{
    width: 100%;
    height: auto;
    padding:0.85rem 0rem;
    background-color:var(--primary-color) ;
    border-radius: 2rem;
    color: #FBFCFE;
    border: none;
    outline: none;
}



.mobileListContainer{
    list-style: none;
}

.showMenu {
    right: 0; /* Slides menu into view */
}

@media screen and (max-width : 1120px) {

    .logoNavScheduleContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0rem 0rem;
        
        /* background-color: blue; */
    }

    .desktopLogoNavScheduleContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0rem 5rem;
    }

    .logoNavContainer{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        /* background-color: red; */
        column-gap: 3rem;
        align-items: center;
    }

    .listContainer{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        list-style: none;
        column-gap: 2rem;
        
    }

    .page{
        color: var(--blue-normal-secondary-color);
        font-size: 1.2rem;
    }

    .button{
        width: 100%;
        height: auto;
        padding: 1rem 1.5rem;
        background-color: var(--primary-color);
        border-radius: 2rem;
        border: none;
        outline: none;
        color: var(--white-primary-color);
        text-wrap:nowrap;
    }
    
}

@media screen and (max-width : 480px) {

    .logoNavScheduleContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0rem 0rem 0rem 2rem;
        /* background-color: red; */
    }
    
    .desktopLogoNavScheduleContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0rem 0rem;
    }

    .barMenuContainer{

        padding-top: 0.5rem;
        padding-right: 2rem;
    }

    .closeBarContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-top: 3rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #979797;
    }

    .closeBar{
        font-size :2.5rem ;
        color: #FBFCFE;

    }

    .mobileListContainer{
     list-style: none;
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     row-gap: 2.5rem;
     padding-top: 2.5rem;
     padding-bottom: 2rem;

    }

   
    .barMenu{
        display: flex;
        cursor: pointer;
        font-size: 1.95rem;
        
      }

      .navContainer{
        display: none;
      }

      .schduleContainer{
        display: none;
      }

      .button{
        display: none;
      }

      .mPage{
        font-size: 1.5rem;
      }


    
}