.allContentContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    width: 100%;
    height: auto;
    padding: 5.5rem 10rem;
    background-color: #1B262F;
    background-image: url("./src/assets/shared/desktop/bg-pattern-circle.svg");
    background-size: 50%;
    background-position: -30% 110%;
    background-repeat: no-repeat;
}

.headingParagraphAboutContainer{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1.1rem;
    /* background-color: blue; */
}

.headingContainer{
    color: white;
    font-size: 1.5rem;

}

.paragraphContainer{
    color: white;
    width: 50%;
    font-size: 0.9rem;
    height: auto;
    line-height: 1.3rem;
}

.aboutButtonContainer{
    width: fit-content;
    height: auto;
}

.button{
    padding: 0.7rem 1.2rem;
    border-radius: 3rem;
    background-color: #1B262F;
    border: 1px solid wheat;
    color: white;
}

.allLogoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
}

.first2LogoContainer{
    display: flex;
    flex-direction: column;
    row-gap: 2.6rem;
}

.second2LogoContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
    align-items: center;
}

.last2LogoContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
}

/* .teslaContainer{
    width: 100px;
    height: 30px;
}

.teslaLogoImg{
    width: 100%;
    height: 100%;
}

.oracleContainer{
    width: 100px;
    height: 20px;
}

.oracleLogoImg{
    width: 100%;
    height: 100%;

} */