*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ba4270;   /* Dark Pink */
  --white-primary-color: #fbfcfe;   /* link water white */
  --blue-normal-secondary-color: #36536B; /* san juan blue */
  --font-size: 16px;
}
